<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BrandMapper">

    <resultMap id="brandresultmap" type="POJO.Brand">
        <result column="brand_name" property="brandName"/>
        <result column="company_name" property="companyName"/>

    </resultMap>
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
    insert into tb_brand (brand_name,company_name,ordered,description,status)
    values (#{brandName},#{companyName},#{ordered},#{description},#{status})
    </insert>

    <select id="selectall" resultMap="brandresultmap">
        select * from tb_brand;
    </select>


    <select id="selectAllById" resultMap="brandresultmap">
        select
        *
        from tb_brand where id = #{id}
    </select>

<!--        <select id="selectByCondition" resultMap="brandresultmap">-->
<!--            select-->
<!--            * from tb_brand-->
<!--            where status = #{status} and-->
<!--            company_name like #{companyName}-->
<!--            and brand_name like #{brandName}-->
<!--        </select>-->

    <!--动态查询-->
    <select id="selectByCondition" resultMap="brandresultmap">
        select * from tb_brand
        <where>
        <if test="status != null">
        and status = #{status}
        </if>
        <if test="companyName != null and companyName != ''">
        and company_name like #{companyName}
        </if>
        <if test="brandName != null and brandName != ''">
        and brand_name like #{brandName}
        </if>
        </where>
    </select>

</mapper>